# Packages #
############
*.gz
*.tar

# Virtual Environment #
#######################
venv/


# Data #
########
data/*
experiments/*
custom-model/cifar-10-batches-py/

# Utilities #
#############
__pycache__/
